#accordion-resizer {

    width: 100%;
    
  }

h3{
  font-size: x-large;
  
}

.number{

  font-size: x-large; 

}



.select{	
  width: 40%;
  font-size: x-large; 
  border-radius: 10px;
  height: 60px;

}

.ui-accordion-header{
	font-size: xx-large;
}
