#accordion-resizer {
  width: 100%;
  }

#left-arrow{
  float: left;
  margin-left: 30%;
}


#right-arrow{
  float: right;
  margin-right: 30%;
}

.nav{
  font-size: 150px;
  font-weight: bolder;
  border: 2px solid black;
  cursor:pointer;
}

.number{
  font-size: 350%;
  height: 15%;
}



.select{
  font-size: 75%; 
  float: right;
  width: 30%;
}

.ui-accordion-header{
	font-size: 330%;
}

.ui-accordion-header-active{
	font-weight: bold;
	background: lightgreen; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(lightgreen, lightyellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(lightgreen, lightyellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(lightgreen, lightyellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(lightgreen, lightyellow); /* Standard syntax */
}

