ul {
  list-style-type: none;
  width: 30%;
  height: 100%;
  font-size: x-large;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;

}

ul li:nth-child(1){background-color:darkred;}
ul li:nth-child(2){background-color:orange;}
ul li:nth-child(3){background-color:yellow;}
ul li:nth-child(4){background-color:lightgreen;}
ul li:nth-child(5){background-color:lightskyblue;}
ul li:nth-child(6){background-color:violet;}


li {
  width: 100%;
  border: 2px black;
  text-align: left;
}



li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:active {
  background-color:darkslategray;
  color: whitesmoke;

}

.center{
  text-align: center;
  float: right;
}

.nav{
  position: sticky;
  position: -webkit-sticky; 
  font-size: 150px;
  font-weight: bolder;
  border: 2px solid black;
  cursor:pointer;
  width:20%;
  float: right;
}


.center{
  width: 70%;
  margin: 0;

}

.number{
  font-size: 200%

}

.select{
  font-size: large; 
  width: 100%;


}

