div(class="dropdown")
    div(class="dropdown-trigger")
        button(class="button" aria-haspopup="true" aria-controls="dropdown-menu")
            span Select a rung
    div(class="dropdown-menu" id="dropdown-menu" role="menu")
        div(class="dropdown-content")
        each val in [1,2,3,4,5,6,7,8,9,10]
            a(href="/rung/"  class="dropdown-item")= val 

script. 
    var dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function(event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
    });
